.locaton{
    padding-left: 106px;
    padding-top: 30px;
    clear: both;
    margin-left: 14%;

}
form{
    padding-top: 30px;
    clear: both;
    padding-left: 354px;

}
h2{
    float: left;

}
#name{
    
    margin-left: 119px;
}
#min{
    margin-left: 7px;

}

#avg{
    margin-left: 14px;

}
a{
    text-decoration: none;
    color :  black;
    font-weight: bold;
    float: right;

    
}
#submit{
    margin-left: 28%;
}
input{
    margin-bottom: 20px;

}
table ,tr ,td{
    border: solid black;
}