.locaton{
    padding-left: 106px;
    padding-top: 30px;
}
h2{
    text-align: center;

}
#name{
    
    margin-left: 119px;
}
#min{
    margin-left: 7px;

}

#avg{
    margin-left: 14px;

}
a{
    text-decoration: none;
    color :  black;
    font-weight: bold;
    
}
#submit{
    margin-left: 28%;
}
input{
    margin-bottom: 20px;

}
table ,tr ,td{
    border: solid black;
}
form{
    border: solid black;
    width: 41%;
    margin-left: 105px;

}